//Var
$layerWidth:320px;
$backHeight:70px;
$middleHeight:145px;
$frontHeight:200px;

$backHeight_tv:345px;
$middleHeight_tv:640px;
$frontHeight_tv:675px;


//Content
body
{
  padding: 0px;
  margin:0px;
  width:100%;
  text-align:center;
  background:black;
}

.page
{
  margin:auto;
  width:320px;
  display:none;
}

.btn
{
  background-color: yellow;
  padding:10px;
}

#theme
{
  #themePreview
  {
    width:100%;
    background-color:blue;
  }
}

#text{
  .textContainer
  {
    position:relative;
    width:320px;
    height:$middleHeight;
    background-color:green;

    #customText
    {
      position:relative;
      color:red;
      left:0px;
      top:40%;
      font-size:30px;
      width:auto;
      text-align:left;
    	-webkit-animation:10s -5s infinite alternate forwards;
    	-webkit-animation-name:textAni;
    	-webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    	animation:10s -5s infinite alternate forwards;
    	animation-name:textAni;
    	animation-timing-function: linear; /* Chrome, Safari, Opera */
    }

    #textImg
    {

    }
  }
}

#photo{
  #canvasContainer
  {

  }
  #resultCanvas2
  {
    border:1px solid white;
    display:none;
  }
  #canvasContainer
  {
    width:250px;
    height:250px;
    margin:auto;
  }
}

#preview_2d
{
  margin-top:0px;

  #container_2d
  {
    width:100%;
    height:$frontHeight;
    position:relative;

    div img
    {
      width:100%;
    }

    .back
    {
      position:absolute;
      height:$backHeight;
      overflow: hidden;
      bottom:0px;
    }

    .middle
    {
      position:absolute;
      height:$middleHeight;
      bottom:0px;
    }

    .front
    {
      height:$frontHeight;
      position:absolute;
      width:100%;
    }
  }
}

#preview_4d
{
  margin-top:-15px;

  #container_4d
  {
    width:100%;
    height:$frontHeight;
    position:relative;

    div img
    {
      width:100%;
    }

    .back
    {
      position:relative;
      height:$backHeight;
      overflow: hidden;
    }

    .middle
    {
      position:relative;
      height:$middleHeight;
    }

    .front
    {
      position:relative;
      height:$frontHeight;
      width:100%;
    }
  }
}


.front img
{
  height:100%;
}

.previewText
{
  position:absolute;
  text-align:left;
  left:0px;
  top:40%;
  font-size:30px;
	-webkit-animation:10s -5s infinite alternate forwards;
	-webkit-animation-name:textAni;
	-webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
	animation:10s -5s infinite alternate forwards;
	animation-name:textAni;
	animation-timing-function: linear; /* Chrome, Safari, Opera */
}

.backImage
{
  width:50px !important;
  height:50px;
  position:absolute;
  top:0px;
  left:0px;

}

.upsideDown
{
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

//tv

//big tv height: 1080
//width 1920

#tv
{
  width:100%;
  margin-left:20px;
  margin-top:-970px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
}


#tv_preview_4d
{
  display:inline;

  div
  {
    width:100%;
    position:relative;
  }

  #container_4d
  {
    width:1100px;
  }

  .back
  {
    height:$backHeight_tv;
    overflow:hidden;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);

    img
    {
      width:100%;
    }
  }

  .middle
  {
    height:$middleHeight_tv;
    background-color:yellow;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);

  }

  .front
  {
    height:$frontHeight_tv;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }


  .page
  {
    width:100%;
  }

  .frontImage
  {
    // width:100%;
  }

}


/* Chrome, Safari, Opera */
@-webkit-keyframes textAni {
    from
    {
      color: red;
      margin-left:0px;
    }
    to
    {
      color: yellow;
      margin-left:70%;
    }
}

/* Standard syntax */
@keyframes textAni {
    from {background: red;}
    to {background: yellow;}
}
