//Var
$layerWidth:320px;

$backHeight:70px;
$middleHeight:145px;
$frontHeight:200px;


//Content
body {
  padding-top: 0px;
  padding-bottom: 0px;
  margin:0px;
  width:100%;
  background:black;
}

#p2 ,#p3 ,#p4
{
  display:none;
}

#middle
{
  position:relative;
  height:$middleHeight;
}

#front
{
  position:relative;
  width:100%;
  height:$frontHeight;
  background-color:yellow;
}

#svgContainer
{
  position:absolute;
  width:100%;
  height:100%;
}

#msgSvgContainer
{
  position:absolute;
  top:0px;
  width:100%;
  height:$middleHeight;
}

#svg, #msgSvg
{
  height:100%;
  width:100%;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

#copyText,.msgCopyText
{
  font-size:40px;
}

#back {
	height:$backHeight;
	overflow: hidden;
}

#back > div
{
	position: relative;
	width: 120%;
	height: 100%;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

#canvas
{
  position:absolute;
  height:100%;
  width:100%;
  background-color:black;
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

#msgCanvas
{
  width:100%;
  height:$middleHeight;
}

.layers
{
  width:$layerWidth;
  margin:auto;
  position:relative;
}

.layers > div
{
  width:320px;
}

#slidein {
	position: absolute;
  width:100%;
	-webkit-animation:10s -5s infinite alternate forwards;
	-webkit-animation-name:slidein;
	-webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
	animation:10s -5s infinite alternate forwards;
	animation-name:slidein;
	animation-timing-function: linear; /* Chrome, Safari, Opera */
  z-index:-10;
}

#resultCanvas2
{
  display:none;
}

.page
{
  display:none;
}

#photo
{
  text-align:center;
}

.page > div
{
  margin:auto;
}

#canvasContainer
{
  border:1px white solid;
  width:320px;
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
  height:70px;
}

.musicBtn
{
  width:200px;
  padding:10px;
  background-color:yellow;
}

#music
{
  text-align:center;
}

#msg{
  text-align:center;
}

#startBtn
{
  width:200px;
  padding:10px;
  background-color:yellow;
}

#index
{
  display:inline;
}

#previewGif
{
  width:100%;
  height:100%;
}

@-webkit-keyframes slidein
{
  from { -webkit-transform: translateX(-10%); }
  to   { -webkit-transform: translateX(0); }
}

@keyframes slidein
{
  from { -webkit-transform: translateX(-10%); }
  to   { -webkit-transform: translateX(0); }
}
