//Var
$layerWidth:320px;
$backHeight:70px;
$middleHeight:145px;
$frontHeight:200px;

$backHeight_tv:345px;
$middleHeight_tv:640px;
$frontHeight_tv:675px;


//tv2
$tv2_marginLeft:24px;
$tv2_marginTop:-870px;
$height_tv2:713px;


//Content
body
{
  padding: 0px;
  margin:0px;
  width:100%;
  text-align:center;
  background:black;
  color:white;
  font-size:10px;
}

.page
{
  margin:auto;
  width:100%;
  display:none;
  font-size:1.8em;

  .termsBtn
  {

  }
}

h1
{
  font-size:1.5em;
}

.btn
{
  background-color: yellow;
  padding:10px;
  color:black;
}

.btn.sideMargin
{
  margin:auto;
  margin-left: 15px;
  margin-right: 15px;
}

.buttonCon
{
  margin:0px 15px 0px 15px;
}

.buttonCon.twoBtn
{
  div:first-child
  {
    float:left;
    width:20%;
  }

  div:last-child
  {
    float:right;
    width:20%;
  }
}


#index
{
  #keyVisual
  {
    width:100%;

    img
    {
      width:100%;
    }
  }

  #startBtn
  {
    width:90%;
    margin:auto;
  }

  h2,p
  {
    padding:0px 15px 0px 15px;
    text-align:left;
  }
}


#foreground
{
  #foregroundPreview
  {
    width:100%;
    background-color:blue;
  }

  .foregroundListCon
  {
    padding:0px 5px 0px 5px;

    .foregroundList
    {
      display:inline-block;
      width:15%;
      border:5px black solid;
      color:black;
      padding:4px;

      div
      {
        background-color:yellow;
        padding:15px;
      }
    }

    .foregroundList.active
    {
      border:red 5px solid;
    }
  }
}

#midplate{
  .textContainer
  {
    position:relative;
    width:100%;
    max-width:320px;
    margin:auto;
    height:$middleHeight;
    background-color:green;

    #customText
    {
      position:relative;
      color:red;
      left:0px;
      top:40%;
      font-size:2em;
      width:auto;
      text-align:left;
      z-index:10;
    	-webkit-animation:10s -5s infinite alternate forwards;
    	-webkit-animation-name:textAni;
    	-webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    	animation:10s -5s infinite alternate forwards;
    	animation-name:textAni;
    	animation-timing-function: linear; /* Chrome, Safari, Opera */
    }

    #textImg1
    {
      position:absolute;
      z-index:5;
      top:0px;
      display:none;
    }

    #textImg2
    {
      position:absolute;
      z-index:15;
      top:0px;
      display:none;
    }
  }

  #customeCopyCon
  {
    display:none;
  }
}

#background
{
  .bgPreview
  {
    width:100%;
    max-width:320px;
  }
  .bgListCon
  {
    padding:0px 5px 0px 5px;
    position:relative;

    .bgList
    {
      display:inline-block;
      width:25%;
      border:5px black solid;
      color:black;
      padding:4px;

      div
      {
        background-color:yellow;
        padding:15px;
      }
    }

    .bgList.active
    {
      border:red 5px solid;
    }
  }

}

#photo{
  #fileUpload
  {
    display:none;
  }

  #canvasContainer
  {

  }

  #photoPreviewCon
  {
    position:relative;
    width:100%;
    height:auto;
    max-width:320px;
    margin:auto;

    .bgPreview
    {
      position:relative;
      width:100%;
      top:0px;
      left:0px;
    }

    #resultCanvas2
    {
      position:absolute;
      border:1px solid white;
      display:none;
    }

    #canvasContainer
    {
      position:absolute;
      // width:250px;
      // height:250px;
      margin:auto;
      z-index:10;
    }
  }
}

#preview_2d
{
  margin-top:0px;

  #container_2d
  {
    position:relative;
    width:100%;
    max-width:320px;
    margin:auto;
    height:$frontHeight;

    div img
    {
      width:100%;
    }

    .back
    {
      position:absolute;
      height:$backHeight;
      overflow: hidden;
      top:0px;
    }

    .middle
    {
      position:absolute;
      height:$middleHeight;
      width:100%;
      bottom:0px;

      .video
      {
        position:absolute;
        top:0;
        left:0px;
        width:100%;
      }
    }

    .front
    {
      height:$frontHeight;
      position:absolute;
      width:100%;
      z-index:15;
    }
  }
}

#preview_4d
{
  margin-top:-15px;

  #container_4d
  {
    position:relative;
    width:320px;
    margin:auto;
    height:$frontHeight;

    div img
    {
      width:100%;
    }

    .back
    {
      position:relative;
      height:$backHeight;
      overflow: hidden;
    }

    .middle
    {
      position:relative;
      height:$middleHeight;

      .video
      {
        position:absolute;
        top:0;
        left:0px;
        width:100%;
      }
    }

    .front
    {
      position:relative;
      height:$frontHeight;
      width:100%;
    }
  }
}


.front img
{
  height:100%;
}

.previewText
{
  position:relative;
  color:red;
  left:0px;
  top:40%;
  width:100%;
  font-size:2em;
  text-align:left;
  z-index:10;
  -webkit-animation:10s -5s infinite alternate forwards;
  -webkit-animation-name:textAni;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation:10s -5s infinite alternate forwards;
  animation-name:textAni;
  animation-timing-function: linear; /* Chrome, Safari, Opera */
}

.previewFront
{
  z-index:15;
}

.previewBack
{
  z-index:5;
}

.backImage
{
  width:50px !important;
  height:50px;
  position:absolute;
  top:0px;
  left:0px;

}

.upsideDown
{
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

//tv

//big tv height: 1080
//width 1920

#tv
{
  width:100%;
  margin-left:20px;
  margin-top:-970px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
}


#tv_preview_4d
{
  display:inline;

  div
  {
    width:100%;
    position:relative;
  }

  #container_4d
  {
    width:1100px;
  }

  .back
  {
    height:$backHeight_tv;
    overflow:hidden;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);

    img
    {
      width:100%;
    }
  }

  .middle
  {
    height:$middleHeight_tv;
    background-color:yellow;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);

  }

  .front
  {
    height:$frontHeight_tv;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }

  .frontImage
  {
    // width:100%;
  }
}

#tv2
{
  width:100%;
  // margin-left:$tv2_marginLeft;
  // margin-top:$tv2_marginTop;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  // -webkit-transform: translateX(-100%) rotate(-90deg); /* Safari */
  // -moz-transform:translateX(-100%)  rotate(-90deg); /* Firefox 3.6 Firefox 4 */
  // -ms-transform:translateX(-100%) rotate(-90deg); /* IE9 */
  // -o-transform:translateX(-100%)  rotate(-90deg); /* Opera */
  transform:translateY(55%) rotate(-90deg); /* W3C */

}

#tv_preview_4d_box2
{
  display:inline;

  div
  {
    width:100%;
    position:relative;
  }

  #container_4d
  {
    // width:1100px;
  }

  .back
  {
    height:$height_tv2;
    overflow:hidden;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    background-color: red;
    background-image:url("../images/bigBg.jpg");
    background-size:cover;

    img
    {
      width:100%;
    }
  }

  .middle
  {
    height:$height_tv2;
    background-color:none;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);

    .video
    {
      width:100%;
    }

  }

  .front
  {
    height:$height_tv2;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }

  .frontImage
  {
    // width:100%;
  }
}

#terms
{
  position:fixed;
  background-color:black;
  width:100%;
  height:100%;
  padding:0px 5px 5px 5px;
  color:white;
  z-index:20;
  display:none;

  p
  {
    font-size:1.2em;
    text-align:left;
  }
}

#sharePopUp
{
  position:fixed;
  background-color:black;
  width:100%;
  height:100%;
  z-index:20;
  display:none;
}

#gallery
{
  #thumbContainer
  {
    width:95%;
    margin:auto;
    text-align:left;

    .thumb
    {
      display:inline-block;
      margin:5px;
      width:45%;
      height:100px;
      background:blue;
    }
  }
}


/* Chrome, Safari, Opera */
@-webkit-keyframes textAni {
    from
    {
      color: red;
      margin-left:0px;
    }
    to
    {
      color: yellow;
      margin-left:70%;
    }
}

/* Standard syntax */
@keyframes textAni {
    from {background: red;}
    to {background: yellow;}
}
